.choice {
    padding-top: calc(var(--vw )* 120);
    padding-bottom: calc(var(--vw )* 120);
    position: relative;
    &__header {
        position: relative;
        z-index: 10;
        padding: 0 16px;
    }
    &__title {

        font-size: calc(24px + 34 * var(--vw));
        font-weight: 700;
        line-height: calc(24px + 49 * var(--vw));
        text-align: center;
        margin-bottom: calc(12px + 18 * var(--vw));
        color: var(--white);
        @media (min-width: 1920px) {
            font-size: 58px;
            line-height: 73px;
            margin-bottom: 30px;
        }
        @media (max-width: 420px) {
            font-size: 42px;
            font-weight: 700;
            line-height: 53px;
        }
    }
    &__text {
        font-size: calc(16px + 2 * var(--vw));
        font-weight: 400;
        line-height: calc(24px + 4 * var(--vw));
        text-align: center;
        margin-bottom: calc(20px + 40 * var(--vw));
        color: var(--grey);
        @media (min-width: 1920px) {
            font-size: 18px;
            line-height: 28px;
            margin-bottom: 60px;
        }
        @media (max-width: 420px) {
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
        }
    }
    &__line {
        margin-bottom: calc(20px + 40 * var(--vw));
        @media (min-width: 1920px) {
            margin-bottom: 60px;
        }
    }
    &__content {
        display: flex;
        flex-direction: row;
        position: relative;
        z-index: 10;
        @media (max-width: 1200px) {
            flex-direction: column-reverse;
        }
        @media (max-width: 640px) {
            overflow: hidden;
        }
        @media (max-width: 420px) {
            flex-direction: column-reverse;
        }
    }
    &__cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-right: min(134px, max(var(--vw)* 134, 40px));
        @media (max-width: 640px) {
            flex-direction: row;
            width: 400%;
        }
        @media (max-width: 420px) {
            flex-direction: row;
            width: 400%;
        }
    }
    &__item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        @media (max-width: 1200px) {
            row-gap: 20px;
            align-items: center;

        }
        @media (max-width: 640px) {
            flex-direction: column;
            align-items: center;
            padding: 0 20px;
        }
        @media (max-width: 420px) {
            flex-direction: column;
            align-items: center;
            padding: 0 16px;
        }
    }
    &__button {
        @media (max-width: 1200px) {
            justify-content: center;
        }
        @media (max-width: 640px) {
            width: 100%;
            height: 56px;
            border: 1px solid #1B70F1;
            background-color: rgba(27, 113, 241, 0.8784313725);
            font-size: 20px;
            justify-content: center;
        }
        @media (max-width: 420px) {
            width: 100%;
            height: 56px;
            border: 1px solid #1B70F1;
            background-color: rgba(27, 113, 241, 0.8784313725);
            font-size: 20px;
            justify-content: center;
        }
    }
    &__item-number {
        font-size: 58px;
        color: var(--num-contrast);
        text-align: center;
        margin-right: 20px;
        @media (max-width: 640px) {
            color: var(--grey-paragraph);
            margin-right: 0;
        }
        @media (max-width: 420px) {
            color: var(--grey-paragraph);
        }
    }
    &__item-column{
        display: flex;
        flex-direction: column;
        margin-right: 26px;
        @media (max-width: 640px) {
           margin-right: 0;
        }
    }
    &__item-title {
        font-size: 24px;
        font-weight: 600;
        line-height: 36px;
        color: var(--grey);
        @media (max-width: 420px) {
            color: var(--white);
            text-align: center;
            font-size: 20px;
            font-weight: 600;
            line-height: 30px;
        }
    }
    &__item-text {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: var(--grey-paragraph);
        @media (max-width: 420px) {
            color: var(--pagination);
            text-align: center;
            font-size: 14px;
            line-height: 22px;
        }
    }
    &__item-line {
        height: 2px;
        background-image: linear-gradient(to right, var(--grey13-contrast), var(--background));
        position: relative;
        margin: min(40px, max(var(--vw)* 40, 20px)) 0;
        margin: 20px 0;
        @media (max-width: 640px) {
            display: none;
        }
        @media (max-width: 420px) {
            display: none;
        }
    }
    &__item-link {
        font-size: calc(12px + 6 * var(--vw));
        padding: 7px 15px;
        display: flex;
        align-content: center;
        justify-content: center;
        @media (min-width: 1920px) {
            font-size: 18px;
        }
        @media (max-width: 640px) {
            width: 100%;
            font-size: 18px;
            display: flex;
            align-items: center;
            left: 0;
        }
    }
    &__item-link:hover {
        cursor: pointer;
        transform: scale(1.1) ;
        transition: 0.2s;
    }
    &__pagination {
        display: none;
        @media (max-width: 640px) {
            display: block;
            margin-top: 40px;
            width: 100%;
        }
        @media (max-width: 420px) {
            display: block;
            margin-top: 40px;
        }
    }
    &__picture {
        width: 100%;
        height: 100%;
    }
    &__picture {
        flex: 0 0 50%;
        @media (max-width: 1200px) {
            margin-bottom: 60px;
        }
    }
    &__img {
        width: 100%;
        height: auto;
    }
}


