.footer {
    margin-top: calc(var(--vw) * 120);
    padding-top: calc(var(--vw) * 120);
    padding-bottom: calc(var(--vw) * 60);
    background-color: var(--header);
    position: relative;
    @media (max-width: 420px) {
        margin: 70px 0 20px 0 ;
        padding: 0 12px;
    }
    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 60px;
        margin-bottom: calc(var(--vw)*60);
        @media (min-width: 1920px) {
            margin-bottom: 60px;
        }
        @media (max-width: 768px) {
            flex-direction: column;
            margin-bottom: 20px;
        }
        @media (max-width: 420px) {
            flex-direction: column;
            padding-top: 40px;
            margin-bottom: 20px;
        }
    }
    &__logo {
        cursor: pointer;
        @media (max-width: 768px) {
            margin-bottom: 20px;
        }
    }

    &-list {
        display: flex;
        flex-wrap: wrap;
        @media (max-width: 420px) {
            display: none;
        }
        &__links {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
        &__link-item {
            list-style: none;
            margin-right: 30px;
            width: 28px;
            height: 29px;
        }
    }
    &-list-text {
        font-size: 20px;
        font-weight: 400;
        line-height: 32px;
        margin-right: 32px;
        @media (max-width:576px) {
            font-size: 18px;
            font-weight: 400;
            line-height: 28px;
        }
    }
    &-list-gadget {
        display: none;
        @media (max-width: 420px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 12px;
        }
    }

    &__line {
        margin-bottom: calc(var(--vw)*60);
        @media (min-width: 1920px) {
            margin-bottom: 60px;
        }
        @media (max-width: 420px) {
            margin-bottom: 20px;
        }
    }
    &__serp-footer {
        margin-bottom: 60px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 30px;
        margin-bottom: 60px;
        @media (max-width: 992px) {
            grid-template-columns: repeat(3, 3fr);
            gap: 13px;
            margin-bottom: 20px;
            justify-items: center;
        }
        @media (max-width: 420px) {
            grid-template-columns: repeat(2, 3fr);
            gap: 13px;
            margin-bottom: 20px;
        }
    }
    &__block {
        width: calc(var(--vw)*240);
        @media (min-width: 1920px) {
            width: 240px;
        }
        @media (max-width: 420px) {
            width: auto;
        }
    }
    &__title {
        margin-bottom: 22px;
        font-size: 18px;
        font-weight: 600;
        color: var(--white);
    }

    &__info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &-icon{
        display: block;
        cursor: pointer;
        width: 100%;
        height: auto;
    }
    &__select{
        font-size: 16px;
        width: 105px;
        font-weight: 400;
        background-color:var(--header);
        border-radius: 4px;
        border-color: var(--grey5);
    }
    &__info-block {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        @media (max-width: 954px) {
            flex-direction: column-reverse;
            justify-content: space-between;
        }
    }
    &__block-select {
        display: flex;
        flex-direction: row;
        align-items: center;
        @media (max-width: 768px) {
            display: none;
        }
    }
    &__text {
       font-size: 14px;
       font-weight: 400;
       line-height: 22px;
       color: #FDFDFD;
       margin-right: 46px;
       @media (max-width: 768px) {
            text-align: center;
            color: var(--grey-paragraph);
        }
    }
    &__text:last-child { 
        margin-right: 0;
    }
    &__text-copyright {
        @media (max-width: 954px) {
            margin-right: 0;
        }
    }
    &__text-copyright::after {
        content: "";
        width: 6px;
        height: 6px;
        border-radius:100%;
        border-color:#FDFDFD;
        background-color: var(--white);
        opacity: 0.4;
        display: inline-block;
        right: -24px;
        position: relative;
        @media (max-width: 954px) {
            display: none;
        }
    }
    &__text-privacy::after {
        content: "";
        width: 6px;
        height: 6px;
        border-radius:100%;
        border-color:#FDFDFD;
        background-color: var(--white);
        opacity: 0.4;
        display: inline-block;
        right: -24px;
        position: relative;
    }
    &__text-addition {
        display: flex;
        @media (max-width: 922px) {
            margin-bottom: 20px;
        }
    }
    &__line-gadget {
        display: none;
        @media (max-width: 420px) {
            display: block;
            margin: 20px 0;
        }
    }
}

.menu-footer {
    &__element {
        list-style: none;
        margin-bottom: calc(var(--vw)*12);
        @media (min-width: 1920px) {
            margin-bottom: 12px;
        }
    }
    &__link {
        font-size: 16px;
        font-weight: 400;
        color: var(--grey);
    }
    &__link-blue {
        font-size: 14px;
        font-weight: 400;
        color: var(--primary-contrast);
    }
}


.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}
