.simple {
    margin: calc(var(--vw)*120) 0 0 0;
    padding: calc(var(--vw)*120) calc(var(--vw)*165);
    position: relative;
    background-color: $header;
    @media (min-width: 1920px) {
        margin: 120px 0 0 0;
        padding: 120px 165px;
    }
    @media (max-width: 420px) {
        padding: 0 ;
    }

    &__block {
        text-align:center;
        z-index: 1;
        position: relative;
    }
    &__header {
        text-align:center;
        margin-bottom: calc(var(--vw)*60);
        z-index: 1;
        position: relative;
        @media (min-width: 1920px) {
            margin-bottom: 60px;
        }
        @media (max-width: 420px) {
            margin-bottom: 40px;
        }
    }

    &__title {
        font-size: calc(24px + 34 * var(--vw));
        font-weight: 700;
        line-height: calc(24px + 49 * var(--vw));
        margin-bottom: calc(var(--vw)*30);
        @media (min-width: 1920px) {
            font-size: 58px;
            line-height: 73px;
            margin-bottom: 30px;
        }
        @media (max-width: 420px) {
            font-size: 42px;
            font-weight: 400;
            line-height: 53px;
        }
    }

    &__coment {
        margin: 0 auto;
        width: calc(900px + 150 * var(--vw));
        text-align:center;
        color: $grey;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        @media (min-width: 1920px) {
            width: 1050px;
        }
        @media (max-width: 1200px) {
            width: auto;
        }
        @media (max-width: 420px) {
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            text-align: center;
            width: auto;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            max-height: 56px;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
    }
    &__line {
        margin-bottom: calc(var(--vw)*60);
        z-index: 1;
        position: relative;
        @media (min-width: 1920px) {
            margin-bottom: 60px;
        }
        @media (max-width: 420px) {
            margin-bottom: 40px;
        }
    }
    &__row {
        display: flex;
        gap: 30px;
        z-index: 1;
        position: relative;
        @media (max-width: 1200px) {
            flex-direction: column;
        }
        @media (max-width: 420px) {
            flex-direction: column;
            gap: 0px;
        }
    }
    &__card {
        text-align: center;
        background-color: $num;
        border-radius: 16px;
        padding: calc(var(--vw)*60) calc(var(--vw)*30);
        @media (min-width: 1920px) {
            padding: 60px 30px;
        }
        @media (max-width: 420px) {
            margin: 20px 16px;
            padding: 20px 30px;
        }
    }
    &__text {
        margin: 0 30px 40px;
        margin: 0 calc(var(--vw)*30) calc(var(--vw)*40);
        @media (min-width: 1920px) {
            font-size: 18px;
        }
        @media (max-width: 420px) {
            margin: 0 0 40px 0;
        }
    }
    &__card-title {
        margin: 40px 0 20px 0;
        font-size: 24px;
    }
    &__card-text {
        font-size: calc(12px + 4 * var(--vw));
        @media (min-width: 1920px) {
            font-size: 16px;
        }
    }
    &__button {
        @media (max-width: 420px) {
            width: 100%;
            height: 56px;
            border: 1px solid #1B70F1;
            background-color: rgba(27, 113, 241, 0.8784313725);
            font-size: 20px;
        }
    }
}
