.news-details {
    display: block;
    position: relative;
    top: 0;
    @media (max-width: 992px) {
        margin: 40px 0 20px;
    }
    &__title {
        text-align: center;
        margin-bottom: calc(var(--vw)*20);
        padding: 0 calc(var(--vw)*75);
        @media (min-width: 1920px) {
            margin-bottom: 20px;
            padding: 0 75px;
        }
        @media (max-width: 420px) {
            padding: 0;
            font-size: 32px;
            line-height: 40.22px;
            text-align: left;
            margin-bottom: 20px;
        }
    }
    &__header{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: calc(var(--vw)*40);
        padding: 0 calc(var(--vw)*75);


        @media (min-width: 1920px) {
            margin-bottom: 40px;
            padding: 0 75px;
        }
        @media (max-width: 420px) {
            justify-content: space-between;
            padding: 0;
            margin-bottom: 20px;
        }
    }
    &__content {
        padding: 0 75px;
        @media (max-width: 992px) {
            padding: 0;
        }
    }
    &__date {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color:  var(--grey);
    }
    &__time {
        font-size: 16px;
        font-weight: 400;
        color: var(--grey);
    }
    &__block {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-left: 10px;
        align-items: center;
    }
    &__text {
        color: var(--grey-paragraph);
        font-weight: 400;
        font-size: calc(var(--vw) * 8 + 12px);
        line-height: calc(var(--vw) * 12 + 22px);
        @media (max-width: 420px) {
            display: none;
        }
    }
    &__img {
        width: 100%;
        height: auto;
    }
}

.news-details-wrap {
    background-color: var(--header);
    display: block;
    padding: 40px 60px;
    @media (max-width: 992px) {
        padding: 0;
    }
}



.line-grey {
    height: 1px;
    background-color: gray;
    position: relative;
    margin: 0 75px;
    @media (max-width: 420px) {
        display: none;
    }
}

.article-newest {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: min(30px, max(var(--vw)* 30, 18px));
    margin-left: min(30px, max(var(--vw)* 30, 18px));
}

.news-page {
    display: block;
    @media (max-width: 1200px) {
        height: auto;
    }
    &__heading {
        justify-content: space-between;
        margin-bottom: 60px;
        overflow-x: scroll;
        @media (max-width: 920px) {
            margin-bottom: 40px;
        }
    }
    &__menu {
        @media (max-width: 1200px) {
            justify-content: flex-start;
            padding: 0;
        }
        @media (max-width: 768px) {
            width: auto;
            overflow-x: visible;
        }
    }
    &__menu-link {
        font-size: 20px;
        font-weight: 400;
        line-height: 32px;
    }
    &__newest {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: var(--pagination);
        white-space: nowrap;
    }
}
