.main-news {
    display: flex;
    gap: 30px;
    gap: calc(var(--vw)*30);
    @media (max-width: 1200px) {
        flex-direction: column;
        align-items: center;
    }
    &__item {
        width: 50%;
        @media (max-width: 1200px) {
            width: 100%;
        }
        @media (max-width: 420px) {
            // display: none;
        }
    }
    &__group {
        width: 50%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        @media (max-width: 1200px) {
            width: 100%;
            grid-template-columns: repeat(auto-fit, minmax(343px, 1fr));
            justify-items: center;
        }
        @media (max-width: 420px) {
            display: none;
        }
    }
}
.news-img {
    width: 100%;
}
.news-post {
    margin: calc(var(--vw)* -84) calc(var(--vw)*30) 0 calc(var(--vw)*30);
    padding: calc(var(--vw)20) calc(var(--vw)*30);
    background-color: $background;
    position: relative;
    @media (min-width: 1920px) {
        margin: -84px 30px 0 30px;
        padding: 20px 30px;
    }
    @media (max-width: 1200px) {
        margin: -50px 20px 0 20px;
        padding: 14px 20px;
        background-color: #131517;
        position: relative;
    }
    &-header {
        display: flex;
        justify-content: space-between;
        &__date {
            color: $pagination;
            margin-bottom: 20px;
            font-size: 16px;
            line-height: 24px;
        }

        &__time {
            color: $grey-paragraph;
            font-size: 14px;
            line-height: 20px;
        }
    }
}

.news-content {
    &__title {
        color: $grey2;
        margin-bottom: calc(var(--vw)*20);
        font-size: calc(var(--vw)*24);
        line-height: calc(var(--vw)*36);
        color:$grey2;
        @media (min-width: 1920px) {
            margin-bottom: 20px;
            font-size: 24px;
            line-height: 36px;
        }
        @media (max-width: 1200px) {
            margin-bottom: calc(var(--vw)*6 + 14px);
            font-size: calc(var(--vw)*4 + 16px);
            line-height: calc(var(--vw)*8 + 26px);
        }
    }
    &__text {
        color: $grey;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 30px;
        @media (max-width: 1200px) {
            display: none;
        }
    }
    &-link {
        @media (max-width: 1200px) {
            display: none;
        }
        &:hover {
            cursor: pointer;
            transform: translateX(10%) scale(1.2);
            transition: 0.2s;
            position: relative;
        }
    }
}

.news-related {
    top: 0;
    &__block {
        display: flex;
        grid-gap: 30px;
        margin-bottom: 60px;
        width: 430%;
    }
}

// .main-news-related__block {
//     display: flex;
//     grid-gap: 30px;
//     margin-bottom: 60px;
//     width: 430%;
// }

.news-cards {
    justify-items: center;
    &__cards {
        width: 343px;
        width: 375px;
        @media (max-width: 420px) {
            width: 100%;
        }
    }
    &__img {
        width: 19.532vw; //width: 375px; height: 220px
        @media (min-width: 1920px) {
            width: 375px;
            height: 220px;
        }
        @media (max-width: 1200px) {
            width: 100%;
        }
    }
    &__img-first {
        width: 40.625vw;
        @media (max-width: 1200px) {
            width: 100%;
        }
    }
    &__img-header {
        width: 100%;
    }
    &__cards-header {
        width: 100%;
        @media (max-width: 1200px) {
            width: 375px;
        }
    }
    &__text {
        margin: -50px 20px 0 20px;
        padding: 14px 20px;
        background-color: #131517;
        position: relative;
        @media (max-width: 420px) {
            padding: calc(var(--vw)*4 + 10px) calc(var(--vw)*10 + 10px);
        }
    }
    &__title {
        margin-bottom: calc(var(--vw)*20);
        font-size: calc(var(--vw)*20);
        line-height: calc(var(--vw)*32);
        color:$grey2;
        @media (min-width: 1920px) {
            margin-bottom: 20px;
            font-size: 20px;
            line-height: 32px;
        }
        @media (max-width: 1200px) {
            margin-bottom: calc(var(--vw)*6 + 14px);
            font-size: calc(var(--vw)*4 + 16px);
            line-height: calc(var(--vw)*8 + 26px);
        }
    }
    &__footer-img {
        width: 100%;
    }
}
