.cards-group-article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 60px;
    grid-gap: min(20px, max(var(--vw)* 20, 8px));
    row-gap: min(40px, max(var(--vw)* 40, 20px));
    column-gap: min(30px, max(var(--vw)* 30, 20px));
    @media (max-width: 960px) {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
    }
    @media (max-width: 420px) {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    &__item {
        background-color:var(--background);
        border-radius: 8px;
        border: 1px solid var(--num);
     }
    &__img {
        padding: 30px 29px 20px;


        width: 100%;
        height: 100%;
        @media (max-width: 412px) {
            padding-top: min(30px, max(100vw/412 * 30, 12px));
            padding-bottom: min(20px, max(100vw/412 * 20, 12px));
            padding-left: min(29px, max(100vw/412 * 29, 12px));
            padding-right: min(29px, max(100vw/412 * 29, 12px));
        }
    }
    &__img-mod {
        width: 100%;
        height: auto;
    }
    &__text {
        padding-top: min(20px, max(var(--vw)* 20, 8px));
        padding-bottom: min(30px, max(var(--vw)* 30, 12px));
        padding-left: min(30px, max(var(--vw)* 30, 12px));
        padding-right: min(30px, max(var(--vw)* 30, 12px));
        @media (max-width: 420px) {
            padding: 0 20px;
        }
    }
    &__user, &__time {
        color: var(--grey);
        position: relative;
        margin-right: 22px;
        font-size: min(18px, max(var(--vw)* 18, 14px));
        font-weight: 400;
        line-height: min(28px, max(var(--vw)* 28, 20px));
    }
    &__user::before {
        content: " ";
        position: absolute;
        border-right: 1px solid var(--grey13-contrast);
        width: 1px;
        right: 0px;
        margin-top: 8px;
        right: calc(var(--vw)* -13);
        height: calc(var(--vw)* 16);
        @media (min-width: 1920px) {
            height: 16px;
            width: 1px;
            right: 0px;
            right: -13px;
            margin-top: 8px;
        }
    }
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: min(40px, max(var(--vw)* 40, 24px));
    }
    &__avatar-block {
        display: flex;
    }
    &__avatar {
        @media (max-width: 420px) {
            width: 24px;
            height: 24px;
        }
    }
    &__title {
        margin-bottom: 0;
        font-size:  min(32px, max(var(--vw)* 32, 24px));
        font-weight: 600;
        line-height: 100%;
    }
}

.cards-article__img {
    border-radius: 4px;
}
