.blog-article {
    &__content {
        display: flex;
        align-items: center;
        background-color: $header;
        padding: 40px;
        border-radius: 8px;
        @media (max-width: 992px) {
            flex-direction: column-reverse;
            background-color: transparent;
            padding: 40px 0;
        }
        @media (max-width: 420px) {
            display: none;
        }
    }
    &__post {
        width: 50%;
        @media (max-width: 992px) {
            width: 80%;
            background-color: $header;
        }
    }
    &__header {
        display: flex;
        justify-content: space-between;
        line-height: 32px;
        align-items: center;
        margin-bottom: calc(var(--vw)*40);
        @media (min-width: 1920px) {
            margin-bottom: 40px;
        }
    }
    &__img {

        width: 37.3365vw;
        overflow: hidden;
        border-radius: 8px;
        @media (max-width: 992px) {
            width: auto;
        }
    }
    &__img-mod {
        width: 100%;
    }
    &__top {
        color: $grey;
        font-size: calc(var(--vw)*10 + 8px);
        font-weight: 400;
        line-height: 28px;
        @media (min-width: 1920px) {
            font-size: 18px;
            font-weight: 400;
            line-height: 28px;
        }
    }
    // &__user {
    //     color: $grey;
    //     position: relative;
    //     margin-right: 22px;
    //     font-size: calc(var(--vw)*10 + 8px);
    //     font-weight: 400;
    //     line-height: 28px;
    //     @media (min-width: 1920px) {
    //         font-size: 18px;
    //         font-weight: 400;
    //         line-height: 28px;
    //     }
    // }
    // &__user::before {
    //     content: " ";
    //     position: absolute;
    //     border-right: 1px solid $grey13;
    //     width: 1px;
    //     right: 0px;
    //     margin-top: 8px;
    //     right: calc(var(--vw)* -13);
    //     height: calc(var(--vw)* 16);
    //     @media (min-width: 1920px) {
    //         height: 16px;
    //         width: 1px;
    //         right: 0px;
    //         right: -13px;
    //         margin-top: 8px;
    //     }
    // }
    // &__time {
    //     color: $grey;
    //     font-size: calc(var(--vw)*10 + 8px);
    //     font-weight: 400;
    //     line-height: 28px;
    //     @media (min-width: 1920px) {
    //         font-size: 18px;
    //         font-weight: 400;
    //         line-height: 28px;
    //     }
    // }
    &__title {
        font-weight: 600;
        font-size: calc(var(--vw)*16 + 20px);
        line-height: calc(var(--vw)*19 + 26px);
        @media (min-width: 1920px) {
            font-size: 36px;
            font-weight: 600;
            line-height: 45px;
        }
    }
    &__pagination {
        margin: 60px 0;
        display: flex;
        width: 100%;
        justify-content: center;
        @media (max-width: 992px) {
            margin-top: 0;
        }
        @media (max-width: 420px) {
            display: none;
        }
    }
    &__link {
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
    }
    &__heading {
        justify-content: space-between;
        margin-bottom: 60px;
        @media (max-width: 1200px) {
            flex-direction: column;
            margin-bottom: 40px;
        }
        @media (max-width: 992px) {
            gap: 10%;
            overflow: scroll;
        }
        @media (max-width: 420px) {
            margin-top: 60px;
            margin-bottom: 50px;
            flex-direction: row;
        }
    }
    &__newest {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-right: 27px;
        @media (max-width: 1200px) {
            margin-right: 0;
        }
    }
    &__newest-text {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: $pagination;
        white-space: nowrap;
    }
    &__menu {
        @media (max-width: 1200px) {
            justify-content: flex-start;
            overflow: auto;
            padding: 0;
        }
        @media (max-width: 420px) {
            overflow: visible;
        }
    }
    &__menu-link {
        font-size: 20px;
        font-weight: 400;
        line-height: 32px;
    }

}

.ico-newest {
    width: 24px;
    height: 24px;
}
