.article-details-post {
    display: block;
    position: relative;
    top: 0;
    &__header {
        display: flex;
        justify-content: space-between;
        line-height: 32px;
        align-items: center;
        margin-bottom: 30px;
        @media (max-width: 290px) {
            flex-direction: column-reverse
        }
    }
    &__img-wrap {
        display: flex;
        margin-bottom: 40px;
        justify-content: center;
    }
    &__img {
        margin: 0 auto;
        width: 100%;
        @media (max-width: 375px) {
            display: none;
        }
    }
    &__img-gadget {
        display: none;
        @media (max-width: 375px) {
            display: block;
        }
    }
    &__avatar30 {
        width: 30px;
        height: auto;
    }
    &__avatar24 {
        width: 30px;
        height: auto;
    }
    &__title {
        margin-bottom: 40px;
        @media (max-width: 375px) {
            margin-bottom: 0;
        }
    }
    &__header-user-name {
        font-size: calc(var(--vw)*4 + 14px);
        font-weight: 400;
        line-height: calc(var(--vw)*4 + 24px);
        @media (min-width: 1920px) {
            font-size: 18px;
            line-height: 28px;
        }
        @media (max-width: 375px) {
            font-size: 16px;
            line-height: 26px;
        }
    }
    &__gadget {
        display: none;
        @media (max-width: 375px) {
            display: block;
        }
    }
    &__block {
        display: flex;
        @media (max-width: 1024px) {
            overflow: hidden;
            width: 300%;
        }
        @media (max-width: 375px) {
            display: flex;
            overflow: hidden;
            width: 300%;
            margin-bottom: 40px;
        }
    }
    &__creator {
        @media (max-width: 375px) {
            justify-content: space-between;
            width: 100%;
        }
    }
    &__date-block {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-left: 10px;
        @media (max-width: 375px) {
            margin-left: 0;
        }
    }
    &__text {
        @media (max-width: 640px) {
            display: none;
        }
    }
    &__date {
        color:$grey;
        font-size: calc(var(--vw)*8 + 12px);
        line-height: calc(var(--vw)*12 + 22px);
        font-weight: 600;
        @media (min-width: 1920px) {
            font-size: 20px;
            line-height: 32px;
        }
        @media (max-width: 375px) {
            font-size: 18px;
            line-height: 28px;
            font-size: calc(var(--vw)*31 + 12px);
            line-height: calc(var(--vw)*12 + 22px);
        }

    }
}
.blog-big-wrap {
    background-color: $header;
    display: block;
    padding: 40px 40px;
    @media (max-width: 620px) {
        padding: 41px 0 0;
    }
    @media (max-width: 375px) {
        padding: 41px 0 0;
    }
}

.list {
    margin: 20px;
    padding-left: 12px;
    &__item {
        font-size: 18px;
        color: #ADB3BF;
        line-height: 28px;
        margin-bottom: 20px;
    }
}

.article-details-related {
    top: 0;
    &__block {
        display: flex;
        grid-gap: calc(var(--vw)* 30);
        margin-bottom: calc(var(--vw)*20 + 40px);
        overflow: hidden;
        width: 300%;

        @media (min-width: 1920px) {
            grid-gap: 30px;
            margin-bottom: 60px;
        }
        @media (max-width: 375px) {
            flex-direction: row;
        }
    }
    &__item {
        max-width: 510px;
        padding: calc(var(--vw)*30);
        @media (min-width: 1920px) {
            padding: 30px;
        }
    }
    &__img {
        width: 100%;
    }
    &__title {
        margin-bottom: 0;
        font-size: calc(var(--vw) * 15 + 17px);
        font-weight: 600;
        line-height: calc(var(--vw) * 11 + 27px);
    }
}
.article-details-pagination {
    position: relative;
}

.user-block {
    display: flex;
    justify-content: space-between;
    line-height: 32px;
    margin-bottom: 13px;
    align-items: center;
    &__name {
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        @media (max-width: 375px) {
            // font-size: 14px;
            font-size: calc(var(--vw) * 41 + 10px);
            line-height: 22px;
        }
    }
    &__time {
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        @media (max-width: 375px) {
            // font-size: 14px;
            font-size: calc(var(--vw) * 31 + 10px);
            line-height: 22px;
        }
    }
    &__avatar {
        width: 30px;
        height: auto;
        @media (max-width: 375px) {
            width: calc(var(--vw)*52 + 20px);

        }
    }
}
