.send-code {
    position: absolute;
    width: 20%;
    height: auto;
    right: 14px;
    display: block;
    font-size: 16px;
    color: $primary;
    text-align: right;
    white-space: nowrap;
}

.form__password {
    align-items: center;
}
