
.form {
    &__name-block {
        display: flex;
        gap: 30px;
        justify-content: space-between;

        @media (min-width: 1920px) {
            gap: 30px;
        }
        gap: calc(var(--vw)*30);
        @media (max-width: 375px) {
            gap: 13px;
        }
    }
    &__name-item {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    &__password-block {
        display: flex;
        flex-direction: column;
    }
    &__password-text {
        margin-top: 10px;
        font-size: 16px;
        color: $grey-paragraph;
    }
    &__checkbox {
        margin-right: 10px;
    }
}
