.wrapper-gadget {
    height: 100vh;
}
.sign-up-gadget {
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__img {
        max-width: 343px;
        margin-bottom: 60px;
    }
    &__img-item {
        width: 100%;
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 16px 40px 16px;
        width: 100%;
    }
    &__logo {
        margin: 0 0 10px 0;
    }
    &__title {
        font-size: 32px;
        font-weight: 600;
        line-height: 40px;
        text-align: center;
        margin-bottom: 20px;
    }
    &__btn {
        display: flex;
        gap:10px;
        width: 100%;
        max-width: 660px;
    }
    &__btn-item {
        border: 1px solid $primary;
        border: 1px solid $primary;
        width: 100%;
        color: $primary;
    }
    &__btn-login {
        width: 100%;
        border: 1px solid $primary;
        background-color: transparent;
    }
    &__btn-signup {
        width: 100%;
        border: 1px solid $primary;
        background-color: $primary;
    }
}
