.trade-gadget {
    display: none;
}
@media (max-width: 920px) {
    .trade-gadget {
        display: block;
        position: relative;
        &__content {
            display: flex;
            align-items: center;
            padding: 14.5px 16px 14.5px 16px;
            justify-content: space-between;
            margin-bottom: 38px;
        }
        &__coin-name {
            display: flex;
            max-width: 32px;
            max-height: 32px;
        }
        &__item {
            display: flex;
            flex-direction: column;
            position: relative;
        }
        &__text {
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            color: var(--grey-paragraph);
        }
        &__row {
            display: flex;
            gap: 20px;
            align-items: center;
        }
        &__value {
            font-size: 20px;
            font-weight: 600;
            line-height: 30px;
            color: var(--pagination);
        }
        &__vector {
            display: flex;
        }
        &__flag {
            display: flex;
        }
        &__flag::before {
            top: 0;
            position: relative;
            content: " ";
            display: inline-block;
            background-image: url(./assets/img/Flag.png);
            width: 16px;
            height: 22px;
            background-repeat: no-repeat;
            background-position: 0% 50%;
            z-index: 10;
            background-size:contain;
        }
        &__block {
            padding: 0 16px;
            margin-bottom: 20px;
        }
        &__days {
            display: flex;
            justify-content: space-around;
            background-color: var(--num40);
        }
        &__graph {
            overflow-x: scroll;
            margin-bottom: 20px;
        }
        &__btn {
            display: flex;
            gap: 20px;
        }
        &__btn-buy {
            width: 100%;
            border: 1px solid var(--green-contrast);
            background-color: var(--green-contrast);
            font-size: 20px;
            line-height: 32px;
            font-weight: 400;
            color: #FFFFFF;
            padding-top: 12px;
            padding-bottom: 12px;
        }
        &__btn-buy:hover {
            background-color: var(--green20);
            border: 1px solid var(--green20);
        }
        &__btn-sell {
            width: 100%;
            border: 1px solid var(--red-contrast3);
            color: #fff;
            font-size: 20px;
            line-height: 32px;
            font-weight: 400;
            padding-top: 12px;
            padding-bottom: 12px;
        }
        &__btn-sell:hover {
            background-color: var(--red-contrast);
            border: 1px solid var(--red-contrast);
        }

    }

}
