// Colors
$primary: #1B70F1;
$primary20: #1b71f1e0;
$white: #FFFFFF;
$background: #131517;
$header: #1E1F25;
$grey: #ADB3BF;
$grey13: #ffffff20;
$grey20: #ffffff33;
$grey40: hsla(0, 0%, 100%, 0.4);

$green: #06B470;
$green20: #07c57b;
$red: #F74E2C;
$red20: #f56a4e;

$grey-paragraph: #808A9A;
$num: #272a34;
$num40: #272a3466;
$test: red;
$pagination: #CFD3DA;
$grey5: #bfc4cdb7;
$grey10: #ffffff10;
$grey2: #eceef0;
