.referral-btn {
    border: 1px solid var(--primary);
    background-color: var(--primary);
    width: calc(var(--vw)*100 + 140px);
    height: calc(var(--vw)*20 + 36px);
    font-size: calc(var(--vw)*15 + 5px);
    @media (min-width: 1920px) {
        width: 240px;
        height: 56px;
        font-size: 20px;
    }
    @media (max-width: 768px) {
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        width: 300px;
        height: auto;
    }
    @media (max-width: 420px) {
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        width: 100%;
        height: auto;
    }
}
.referral-header {
    display: flex;
    gap: calc(var(--vw)*110);
    margin-top: calc(var(--vw)*138);
    @media (min-width: 1920px) {
        gap: 110px;
    }
    @media (max-width: 768px) {
        flex-direction: column-reverse;
        align-items: center;
    }
    @media (max-width: 420px) {
        flex-direction: column-reverse;
        align-items: center;
    }
    @media (min-width: 1920px) {
        margin-top: 138px;
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        @media (max-width: 768px) {
            align-items: center;
        }
        @media (max-width: 420px) {
            align-items: center;
        }
    }
    &__picture {
        width: 100%;
        height: 100%;
    }
    &__img {
        width: 100%;
        height: auto;
    }
    &__line-block {
        left: calc(var(--vw) * -130);
        width: 66%;
        @media (min-width: 1920px) {
            left: -130px;
        }
        @media (max-width: 768px) {
            left: 0px;
            width: 100%;
            top: -4px;
        }
        @media (max-width: 420px) {
            left: 0;
            top: -64px;
            width: 100%;
        }
    }
    &__title {
        font-weight: 600;
        font-size: min(58px, max(var(--vw)* 58, 24px));
        line-height: min(100px, max(var(--vw)* 100, 60px));
        color: var(--grey2);
        position: relative;
        overflow: hidden;
        @media (max-width: 768px) {
            text-align: center;
        }
    }
    &__width {
        width: 100%;
    }
    &__text {
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        color: var(--grey);
        margin-bottom: calc(var(--vw) * 80);
        font-size: min(18px, max(var(--vw)* 18, 14px));
        line-height: min(28px, max(var(--vw)* 28, 22px));
        @media (min-width: 1920px) {
            margin-bottom: 80px;
        }
        @media (max-width: 768px) {
            text-align: center;
        }
    }
}

.referral-how {
    margin-top: calc(var(--vw) *242);
    @media (min-width: 1920px) {
        margin-top: 242px;
    }
    @media (max-width: 768px) {
        margin-top: 80px;
    }
    &__title {
        font-weight: 600;
        font-size: min(58px, max(var(--vw)* 58, 24px));
        line-height: min(100px, max(var(--vw)* 100, 60px));
        margin-bottom: min(80px, max(var(--vw)* 80, 40px));
        color: var(--white);
        text-align: center;
    }
    &__heading {
        display: flex;
        justify-content: space-around;
        background-color:var(--header);
        padding: 20px 30px;
        width: auto;
        gap: calc(var(--vw) * 80);
        margin-bottom: min(78px, max(var(--vw)* 78, 40px));
        @media (min-width: 1920px) {
            gap: 80px;
        }
        @media (max-width: 768px) {
            padding: 12px 16px;
            gap: 20px;
        }
        @media (max-width: 420px) {
            overflow-x: scroll;
            padding: 12px 16px;
            gap: 20px;
        }
    }
    &__item {
        font-weight: 400;
        color: var(--pagination);
        white-space: nowrap;
        text-align: center;
        font-size: calc(var(--vw)*14 + 10px);
        line-height: calc(var(--vw)*36);
        padding: calc(var(--vw)*18);
        width: calc(var(--vw)*456);
        background-color: transparent;
        @media (min-width: 1920px) {
            font-size: 24px;
            line-height: 36px;
            padding: 18px;
            width: 456px;
        }
        @media (max-width: 420px) {
            min-width: 202px;
            padding: 18px 0;
            text-align: center;
            font-size: 24px;
            font-weight: 400;
            line-height: 36px;
        }
    }
    &__item:hover {
        color: var(--white);
        background-color:var(--num);
        cursor: pointer;
    }
    &__content {
        display: flex;
        gap: calc(var(--vw)*160);
        position: relative;
        @media (min-width: 1920px) {
            gap: 160px;
        }
        @media (max-width: 1024px) {
            align-items: center;
        }
        @media (max-width: 768px) {
            flex-direction: column-reverse;
            gap: 20px;
        }
        @media (max-width: 420px) {
            flex-direction: column-reverse;
            gap: 40px;
        }
    }
    &__content-elem {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: calc(var(--vw) * 30);
        // width: 47.918vw;
        // width: 50%;
        @media (min-width: 1920px) {
            width: 920px;
            gap: 30px;
        }
        @media (max-width: 768px) {
            width: 100%;
            gap: 20px;
            align-items: center;
        }
     }
    &__picture {
        width: 100%;
        height: 100%;
    }
    &__img {
        width: 100%;
        height: auto;
    }
    &__content-num {
        font-size: 46px;
        font-weight: 600;
        line-height: 58px;
        color: var(--grey);
        color: var(--grey20-contrast);
        @media (max-width: 420px) {
            font-size: 32px;
            font-weight: 600;
            line-height: 40px;
        }
    }
    &__content-title {
        font-weight: 600;
        font-size: min(36px, max(var(--vw)* 36, 26px));
        line-height: min(45px, max(var(--vw)* 45, 32px));
        color: var(--white);
    }
    &__content-text {
        font-weight: 400;
        color: var(--grey);
        font-size: calc(var(--vw)*8 + 10px);
        line-height: calc(var(--vw)*18 + 10px);
        @media (min-width: 1920px) {
            font-size: 18px;
            line-height: 28px;
        }
        @media (max-width: 420px) {
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            text-align: center;
        }
    }
    &__btn {
        margin-top: calc(var(--vw)*50);
        @media (min-width: 1920px) {
            margin-top: 50px;
        }
        @media (max-width: 1024px) {
            margin-top: 0;
        }
        @media (max-width: 420px) {
            width: 100%;
        }
    }
    &__elipse {
        width: 28%;
        height: 100%;
        top: 0px;
        right: 0;
        position: absolute;
        background: #1B70F1;
        // opacity: 20%;
        opacity: 0.2;
        border-radius: 100%;
        filter: blur(80px);
    }
}


.backlight {
    color: var(--white);
    background-color:var(--num);
}


.newsletter {
    // margin: calc(var(--vw)*120) calc(var(--vw)*165);
    margin-top: calc(var(--vw)*120);
    padding: calc(var(--vw)*120) 0;
    background-color: var(--header);
    // @media (min-width: 1920px) {
    //     margin: 120px 165px;
    // }
    @media (max-width: 420px) {
        font-size: 42px;
        font-weight: 600;
        line-height: 53px;
        margin: 60px 16px;
    }
    &__heading {
        text-align: center;
    }

    &__title {
        font-weight: 700;
        color: var(--white);
        margin-bottom: 30px;
        font-size: min(58px, max(var(--vw)* 48, 24px));
        line-height: min(100px, max(var(--vw)* 100, 40px));
        margin-bottom: min(30px, max(var(--vw)* 30, 20px));
        @media (max-width: 420px) {
            font-weight: 600;
        }
    }
    &__text {
        font-weight: 400;
        color: var(--grey);
        font-size: calc(12px + var(--vw)*6);
        line-height: calc(18px + var(--vw)*10);
        
        font-size: min(18px, max(var(--vw)* 18, 14px));
        line-height: min(38px, max(var(--vw)* 38, 20px));
        margin-bottom: min(80px, max(var(--vw)* 80, 60px));
    }
    &__btn {
        text-align: center;
    }
}
