    .team {
    margin: calc(var(--vw)*136)
        calc(var(--vw)*165)
        calc(var(--vw)*120)
        calc(var(--vw)*165);
    @media (min-width: 1920px) {
        margin: 136px 165px 120px 165px;
    }
    @media (max-width: 420px) {
        margin: 0 16px 60px 16px;
    }
    &__icon {
        padding: 12px;
        @media (max-width: 412px) {
            max-width: 42px;
            max-height: 44px;
        }
    }
    &__header {
        text-align: center;
        position: relative;
        @media (max-width: 420px) {
            margin: 80px 0 60px 0;
        }
    }
    &__title {
        font-weight: 600;
        font-size: min(84px, max(var(--vw)* 84, 48px));
        line-height: min(105px, max(var(--vw)* 105, 48px));
        color: var(--white);
        margin-bottom: 30px;
        letter-spacing: -1px;
        @media (max-width: 420px) {
            margin-bottom: 20px;
            font-size: min(48px, max( 100vw/420 * 48, 24px));
            line-height: min(60px, max(100vw/420 * 60, 30px));
        }
    }
    &__text {
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        color: var(--grey);
        margin-bottom: 80px;
        padding: 0 calc(var(--vw)*256);
        @media (max-width: 940px ) {
            font-size: 18px;
            line-height: 28px;
            margin-bottom: 40px;
            padding: 0;
        }
    }
    &__departament {
        margin: 40px 0;
        @media (max-width: 420px) {
            margin: 60px 0;
        }
    }
    &__departament-title {
        font-weight: 600;
        font-size: calc(var(--vw)*8 + 38px);
        line-height: calc(var(--vw)*11 + 47px);
        color: var(--white);
        margin-bottom: 60px;
        text-align: center;
        @media (min-width: 1920px) {
            font-size: 46px;
            line-height: 58px;
            margin-bottom: 60px;
        }
        @media (max-width: 420px) {
            font-size: 38px;
            font-size: calc(var(--vw)*128 + 13px);
            font-weight: 600;
            line-height: 47px;
            line-height: calc(var(--vw)*113 + 25px);
            margin-bottom: 40px;
        }
    }
    &__group {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
        justify-items: center;
        grid-gap: 30px;
        margin-bottom: 40px;
        @media (max-width: 620px) {
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;
        }
    }
    &__postcard-item {
        background-color: var(--header);
    }
    &__postcard-footer {
        display: flex;
        justify-content: space-between;
        padding: 30px 20px;
        background-color: var(--header);
        @media (max-width: 420px) {
            padding: calc((100vw/375)*20) calc((100vw/375)*17);
        }
        @media (max-width: 370px) {
            flex-direction: column;
            align-items: center;
        }
    }
    &__postcard-name {
        font-size: 24px;
        font-weight: 600;
        line-height: 36px;
        color: var(--white);
        @media (max-width: 420px) {
            font-size: calc((100vw/375)*10 + 10px);
        }
    }
    &__postcard-post {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: var(--grey);
    }
    &__postcard-post:before {
        content: '/ ';
        color: var(--grey);
    }
    &__postcard-link {
        display: flex;
        gap: 20px;
    }
    &__picture {
        width: 100%;
        max-width: 375px;
        max-height: 480px;
    }
    &__img {
        width: 100%;
        height: auto;
    }    
}


