@import './general/gi';
@import './components/ui';
@import 'main';
@import './site/landing/landing';
@import './site/login/login';
@import './site/blog/main-blog';
@import './site/article/main-article';
@import './site/news/main-news';

@import './site/trade/trade';
@import './site/referral/referral';
@import './site/team/taem';
@import './site/career/career';
@import './helpers/classes';


.fadeOut {
    opacity: 0;
}
.fadeIn {
    opacity: 1;
}

.blue {
    color: $primary;
}
.grey {
    color: $grey;
}
.red {
    color: $red;
}
.background-red {
    background-color: $red;
}

.green {
    color: $green;
}
.white {
    color: $white;
}
input[type=radio] {
    display: none;
}
