@use './general/gi';
@use './components/ui';
@use 'main';
@use './site/landing/landing';
@use './site/login/login';
@use './site/blog/main-blog';
@use './site/article/main-article';
@use './site/news/main-news';
@use './site/trade/trade';
@use './site/referral/referral';
@use './site/team/taem';
@use './site/career/career';
@use './helpers/classes';



.fadeOut {
    opacity: 0;
}
.fadeIn {
    opacity: 1;
}

.blue {
    color: var(--primary-contrast);
}
.grey {
    color: var(--grey);
}
.red {
    // color: var(--red);
    color: var(--red-contrast2);
}
.background-red {
    background-color: var(--red-contrast3);
}

.green {
    color: var(--green);
}
.white {
    color: var(--white);
}
input[type=radio] {
    display: none;
}

.w-32 {
    width: 32px;
}

.mt-20 {
    margin-top: 20px;
    @media (max-width: 420px) {
        margin-top: 10px;
    }
}
.mb-40 {
    margin-bottom: 40px;
    @media (max-width: 420px) {
        margin-bottom: 20px;
    }
}
.mt-10 {
    margin-top: 10px;
}
.mb-10 {
    margin-bottom: 10px;
}

.mt-40 {
    @media (max-width: 420px) {
        margin-top: 20px;
    }
}

.blog-img {
    width: 100%;
    height: 100%;
}

.link-telegram, .link-instaram {
    max-width: 28px;
    max-height: 29px;
    width: 100%;
    height: 100%;
    @media (max-width: 412px) {
        max-width: 42px;
        max-height: 44px;
        padding: 12px;
    }
}
